<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--
      NOTE: This library does NOT auto-register CallScreeningService to avoid manifest surprises.
      Host app should declare:
      io.securenode.branding.call.SecureNodeCallScreeningService
      with android.permission.BIND_SCREENING_SERVICE and intent-filter android.telecom.CallScreeningService
    -->
<application>
    <activity
        android:name="io.securenode.branding.debug.DebugActivity"
        android:exported="false"
        android:enabled="false"
        android:theme="@android:style/Theme.DeviceDefault" />
</application>

</manifest>
